.sprint-start__container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
}
.sprint-start__timer {
  padding-top: 50%;
  font-size: 50px;
}
.sprint-start__explanation {
  right: 10px;
  display: block;
  padding-bottom: 100px;
  color: #505050;
  font-size: 1.5rem;
}

.sprint-start__form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.sprint-start__form {
  display: flex;
  flex-direction: column;
}
