.game__container {
  min-height: 100vh;
  background: rgba(206, 3, 237, 1);
  background: -moz-linear-gradient(
    top,
    rgba(206, 3, 237, 1) 0%,
    rgba(219, 208, 134, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(206, 3, 237, 1)),
    color-stop(100%, rgba(219, 208, 134, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(206, 3, 237, 1) 0%,
    rgba(219, 208, 134, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(206, 3, 237, 1) 0%,
    rgba(219, 208, 134, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(206, 3, 237, 1) 0%,
    rgba(219, 208, 134, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(206, 3, 237, 1) 0%,
    rgba(219, 208, 134, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce03ed', endColorstr='#dbd086', GradientType=0 );
}

.answer__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style-position: inside;
}

.button {
  padding: 10px 20px;
  font-size: 25px;
}

.iconButton .volumeUpRounded {
  font-size: 5rem;
}

.picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}

.word {
  font-size: 2rem;
}
