.game__container {
  padding: 40px;
}

.question__container {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  padding: 20px;
  font-size: 22px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../../assets/sound.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border-radius: 50%;
}

.answer__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style-position: inside;
}

.answer__item {
  margin: 10px auto;
  padding: 15px;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.button {
  padding: 10px 20px;
  font-size: 25px;
}

.iconButton .volumeUpRounded {
  font-size: 5rem;
}

.picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}

.word {font-size: 2rem;
}