@import '../../scss/abstracts/constants';

.audiocall-container {
  min-height: 100vh;
  background: $color-audiocall-primary;
  background: linear-gradient(
    to bottom,
    $color-audiocall-primary 0%,
    $color-audiocall-secondary 100%
  );
}
