@import './src/scss/abstracts/constants';
@import './src/scss/abstracts/mixins';
@import './src/scss/abstracts/placeholders';

.statistics__container {
  position: relative;
  font-size: 2.3rem;

  @extend %padding;

  .statistics__chart {
    height: 600px;
  }

  .makeStyles-root-1,
  header.MuiAppBar-colorDefault,
  & > div {
    background-color: transparent;
  }

  .PrivateTabIndicator-root-2 {
    background-color: $color-primary;
  }

  .MuiPaper-elevation4 {
    box-shadow: none;
  }
}

.statistics__wrapp {
  max-width: 550px;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 2rem;
  text-align: center;
}
.statistics__item {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #cecece;
}
