@import '../../../../../../scss/abstracts/constants';

.VolumeDownIcon {
  color: $color-dark;
}

.Word {
  font-weight: $font-weight-black;
}

.Translate {
  color: rgba($color-dark, $alpha: 0.6);
}
