.unmess-game-container .question-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../../assets/images/question-icon.png');
  background-size: cover;
  background-position: center;
}
