.speakit-game-container * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.speakit-game-container .container {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  min-height: calc(100vh - #{$header-height});
  margin: 0 auto;
  @include media-laptop {
    max-width: 760px;
  }
  @include media-tablet {
    max-width: 500px;
  }
  @include media-mobile {
    max-width: 300px;
  }
}

.speakit-game-container {
  padding-top: $header-height;
  background-image: url('../../assets/hove_page_background1.jpg');
  background-position: center;
  background-size: cover;
}
