.words {
  position: relative;
  top: 300px;
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin: auto;
}
.words span {
  padding: 10px;
  border-radius: 20px;
}
.words span:hover {
  cursor: pointer;
}
