.sprint-play__container{
  width: 600px;
  height: 400px;
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}
.sprint-play__header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.sprint-play__point-wrapper{
  display: flex;
}
.sprint-play__point-score{
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}
.sprint-play__timer-wrapper{
  display: flex;
}
.sprint-play__timer{
margin-left: 10px;
}
.sprint-play__volume{
  color: #000000;
 position: relative;
 bottom: 12px;
}
.sprint-play__board{
  background-color: rgb(233, 233, 233);
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 
    0px 2px 1px -1px rgba(0,0,0,0.2), 
    0px 1px 1px 0px rgba(0,0,0,0.14), 
    0px 1px 3px 0px rgba(0,0,0,0.12)
  ;
  border-radius: 4px;
}
.sprint-play__rangs{
  display: flex;
  justify-content: center;
  padding: 20px 0 80px;
}
.sprint-play__rang-item{
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
}
.sprint-play__word{
  margin-bottom: 20px;
  font-size: 3.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}
.sprint-play__translate{
  font-size: 1.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  padding-bottom: 80px;
  color: #7c7c7c;
}
.sprint-play__control{
  display: flex;
  justify-content: space-around;
}
.sprint-play__check {
  background: #eede53;
}

.sprint-play__times {
  background: #c986d6;
}
.sprint-play__default{
  background: #ffffff;;
}