.sprint-play__container{
  max-width: 600px;
  max-height: 400px;
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}
.sprint-play__header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.sprint-play__point-wrapper{
  display: flex;
}
.sprint-play__point-score{
  margin-left: 10px;
  font-size: 2.4rem;
  font-weight: 600;
}
.sprint-play__timer-wrapper{
  display: flex;
}
.sprint-play__timer{
margin-left: 10px;
}
.sprint-play__volume{
  color: #000000;
 position: relative;
 bottom: 12px;
}
.sprint-play__board{
  background-color: rgb(233, 233, 233);
  margin: 0 auto;
  margin-bottom: 13vh;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  border-radius: 5px;
}
.sprint-play__rangs{
  display: flex;
  justify-content: center;
  padding: 20px 0 80px;
}
.sprint-play__rang-item{
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
}
.sprint-play__icons{
  position: relative;
  top: 2.5px;
  opacity: .5;
}
.sprint-play__word{
  margin-bottom: 20px;
  font-size: 5.6rem;
  line-height: 1.334;
  letter-spacing: 0em;
}
.sprint-play__translate{
  font-size: 3rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  padding-bottom: 80px;
  color: #7c7c7c;
}
.sprint-play__control{
  display: flex;
  justify-content: space-around;
}
.sprint-play__check {
  background: #eede53;
}

.sprint-play__times {
  background: #c986d6;
}
.sprint-play__default{
  visibility: hidden;
}

@media (max-width: 400px) {
  .sprint-play__word{
    font-size: 4rem;
  }
}