.speakit-game-container {
  .home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - #{$header-height});
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
    overflow-x: hidden;
  }

  .home-page-container__title {
    margin-bottom: 15px;
    color: $color-light;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 23px;
    text-align: center;
    text-shadow: 0px 0px 8px $color-light;
    @include font(6rem, 100, italic);
    @include media-tablet {
      font-size: 5.8rem;
      letter-spacing: 20px;
    }
    @include media-big-mobile {
      font-size: 5.5rem;
      letter-spacing: 15px;
    }
    @include media-mobile {
      font-size: 5.3rem;
      letter-spacing: 8px;
    }
  }

  .home-page-container__description {
    margin-bottom: 50px;
    padding: 0 15px;
    color: $color-light;
    font-family: $font-secondary;
    line-height: 125%;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 0px 0px 15px $color-light;
    @include font(3rem, 400, italic);
    @include media-tablet {
      font-size: 2.8rem;
    }
    @include media-big-mobile {
      font-size: 2.5rem;
    }
    @include media-mobile {
      font-size: 2.3rem;
    }
  }

  .home-page-container__gif {
    width: 63px;
    height: 63px;
  }

  .speakit-levels-stepper,
  .speakit-pages-stepper {
    .MuiTypography-root {
      font-weight: 100;
    }
  }
}

.speakit-game-container .home-page-container__button {
  position: relative;
  width: 300px;
  height: 68px;
  overflow: hidden;
  color: $color-light;
  font-family: $font-primary;
  background: transparent;
  border: 2px solid $color-light;
  outline: none;
  cursor: pointer;
  transition: color 0.5s;
  @include font(30px, 100);
  @include media-hover {
    &:hover {
      color: $color-active;
    }
    &:hover::before {
      top: -30px;
      left: -30px;
    }
  }
  &::before {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 370px;
    height: 125px;
    background: $color-light;
    border-radius: 50%;
    transition: top 0.7s, left 0.7s;
    content: '';
  }
  * {
    position: relative;
  }
}

.speakit-game-container .speakit-steppers-container {
  margin-bottom: 30px;
  & > * {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
