.sprint__title {
  margin-bottom: 40px;

  @include flex(
    $justify-content: center, $align-items: center
  );

  h1 {
    width: fit-content;
    margin: 0;
  }
}

.sprint-start__select {
  margin: 18px 0 0 30px;

  .select-input {
    font-weight: $font-weight-extralight;
  }

  .select-arrow {
    top: 48%;
  }
}
