@import '../../../../scss/abstracts/constants';
@import '../../../../scss/base/fonts';
@import '../../../../scss/base/typography';

.table {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 80%;
  max-width: 800px;
  height: 400px;
  margin: 20px auto;
  background: $color-light;
}

.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  height: 40px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #dad5d5;
}

.item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color-light;
  font-size: 1.4rem;
  line-height: 2.6;
  text-align: center;
  text-shadow: $color-dark 0 0 4px;
  background-color: $color-puzzle;
  background-repeat: no-repeat;
  background-size: 800px 400px;
  border: 1px solid $color-light;
  user-select: none;
  @media (max-width: 520px) {
    font-size: 1rem;
    line-height: 3.4;
  }
}
