.play-games {
  background-color: $color-secondary;
  @include flex(column, center, center);

  @extend %padding;
}

.play-games__subtitle {
  margin: 0 20px;

  @extend %subtitle;
}

.games-cards-container {
  flex-wrap: wrap;
  width: 100%;

  @include flex(row, center, flex-start);
}
