.play-games {
  background-color: $color-primary;
  @include flex(column, center, center);

  @extend %padding;
}

.play-games__subtitle {
  @extend %subtitle;
}

.games-cards-container {
  flex-wrap: wrap;
  width: 100%;
  @include flex(row, center, center);
}
