.btn {
  padding: 10px 50px;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.7s ease;
  @include font(2rem, 500, normal);
}

.btn-primary {
  color: $color-text-light;
  background-color: $color-text-dark;
  &:hover {
    color: $color-text-dark;
    background-color: $color-text-light;
  }
}

.btn-secondary {
  color: $color-text-dark;
  background-color: $color-text-light;
  &:hover {
    color: $color-text-light;
    background-color: $color-text-dark;
  }
}

.link-btn:focus {
  border: 0;
  outline: 0;
}
