.input {
  padding: 20px 90px;
  font-size: 3rem;
  text-align: center;
  &::placeholder {
    font-weight: normal;
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    font-style: italic;
  }
}
