body .menu-list {
  //padding: 20px 30px;
  background-color: $color-primary;
}

body .menu-list-popover {
  pointer-events: none;
}

body .menu-list-popover__paper {
  pointer-events: all;
}

body .menu-list-item {
  padding: 0;
  text-align: center;

  @extend %menu-item;
  @include flex(row, center, center);
}

body .menu-list-item__link {
  width: 100%;
  height: 100%;
  padding: 8px 30px;
  color: $color-light;
}

body .menu-list-button {
  cursor: pointer;
}
