.savannah__buttons {
  margin-bottom: 50px;
  text-align: center;

  .savannah__button {
    @include button($color-savannah-secondary);
  }
}

.savannah__results_guessed {
  margin-left: 20px;
}

.savannah__results_unguessed {
  margin-right: 20px;
}

.savannah__gamelifes {
  height: fit-content;
  margin-top: 5px;
}
