body .select-input {
  padding: 5px 24px 5px 5px;

  @include font($size: 2.5rem, $weight: $font-weight-bold, $line-height: 100%);
}

body .select-arrow {
  top: 50%;
  transform: translateY(-50%);
}

body .menu-item {
  font-size: 1.5rem;
}
