.ResultList{
display: block;
}
.mistakeTitle{
  color: gray;
}
.Total{
  color: #ffffff;
  padding: 0 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.error{
  background: rgba(240, 87, 108, .7);
}

.success {
  background: rgba(161, 240, 69, .7);
}

.Title{
  color: rgb(82, 82, 82);
}
.Content{
  display: flex;
  padding: 15px 0;
}
