@import '../../../../scss/abstracts/constants';
@import '../../../../scss/base/fonts';
@import '../../../../scss/base/typography';

.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  height: 40px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: $color-active-row;
}

.item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color-light;
  font-size: 1.4rem;
  line-height: 2.6;
  text-align: center;
  text-shadow: $color-dark 0 0 4px;
  background-color: $color-puzzle;
  background-size: 800px 400px;
  border: 1px solid $color-light;
  user-select: none;
  @media (max-width: 520px) {
    font-size: 1rem;
    line-height: 3.4;
  }
}

.containerItems {
  position: absolute;
  bottom: -50px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  height: 40px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: $color-active-row;
}

.active {
  background: $color-active-puzzle !important;
}

.right {
  background: $color-right-answer !important;
}

.wrong {
  background: $color-wrong-answer !important;
}
