.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  height: 40px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #dad5d5;
}

.item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
  line-height: 2;
  text-align: center;
  text-shadow: #000000 0 0 4px;
  vertical-align: middle;
  background-color: #087b83;
  background-repeat: no-repeat;
  background-size: 800px 400px;
  border: 1px solid #ffffff;
  user-select: none;
}

.containerItems {
  position: absolute;
  bottom: -50px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  height: 40px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #dad5d5;
}

.active {
  background: #b9ec76;
}

.right {
  background: rgb(75, 196, 64) !important;
}

.wrong {
  background: rgb(196, 84, 64) !important;
}
