@import '../../../../scss/abstracts/placeholders';
@import '../../../../scss/abstracts/mixins';

.english-puzzle-container {
  box-sizing: border-box;
  min-height: 100vh;
  background: $color-englishPuzzle-primary;
  background: linear-gradient(
    to bottom,
    $color-englishPuzzle-primary 0%,
    $color-englishPuzzle-secondary 100%
  );

  @extend %padding;
}
