.container {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.title {
  color: #ffffff;
  font-size: 2.2rem;
}

.right {
  margin-left: 10px;
  padding: 0 10px;
  color: #ffffff;
  background: rgba(161, 240, 69, 0.7);
  border-radius: 10px;
}

.wrong {
  margin-left: 10px;
  padding: 0 10px;
  color: #ffffff;
  background: rgba(240, 87, 108, 0.7);
  border-radius: 10px;
}

body .button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 20px;
}
