.button__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 80px auto 0;
}

body .button,
.container .button,
.button__container .button {
  margin: 0 20px 20px;
  color: $color-button-text;
  font-family: 'Inter', sans-serif;
  background-color: $color-light;
  border: 1px solid $color-light;
  outline: none;
  cursor: pointer;
  transition: all 0.7s ease;
  &_big {
    padding: 5px 30px;
    font-size: 1.6rem;
    @media (max-width: 740px) {
      font-size: 1.4rem;
    }
    @media (max-width: 520px) {
      font-size: 1.2rem;
    }
  }
  &_small {
    padding: 10px 20px;
    font-size: 1.2rem;
    @media (max-width: 520px) {
      padding: 5px 10px;
    }
  }
}

