.question__container {
  width: 80%;
  margin: 25px auto 0;
  padding: 10px;
  @include flex(column, center, center);
  & .icon {
    font-size: 3rem;
  }
}

div .disabled {
  cursor: default;
  opacity: 0;
}

.question__text {
  color: $color-light;
  font-size: 1.8rem;
  text-align: center;
  user-select: none;
}
