// Abstracts from root styles
@import '../../../scss/abstracts/constants';

// Abstracts
@import 'scss/abstracts/constants';
@import 'scss/abstracts/mixins';

// Base
@import 'scss/base/base';

// Components
@import 'scss/components/preloader';
@import 'scss/components/link-in-button';

// Layouts
@import 'scss/layouts/home_page';
@import 'scss/layouts/navigation';
@import 'scss/layouts/word_association';
@import 'scss/layouts/words_container';
@import 'scss/layouts/buttons_container';
@import 'scss/layouts/results';
@import 'scss/layouts/preloader-container';
