@import '../../../../scss/abstracts/constants';
@import '../../../../scss/base/fonts';
@import '../../../../scss/base/typography';

.container {
  display: flex;
  justify-content: center;
  margin: 80px auto 0;
}

.container .button {
  margin: 0 20px;
  padding: 10px 20px;
  color: $color-button-text;
  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
  background-color: $color-light;
  border: 1px solid $color-light;
  outline: none;
  cursor: pointer;
  transition: all 0.7s ease;
  @media (max-width: 520px) {
    padding: 5px 10px;
    font-size: 1.2rem;
  }
}
