.audio-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../../assets/images/icon-play.png');
  background-position: center;
  background-size: cover;
  @include media-tablet {
    width: 35px;
    height: 35px;
  }
}
