$color-text-light: white;
$color-active-light: #4082a2;
$color-active-dark: #2d637c;

$color-correct: #94c924;
$color-mistake: #fe766d;

$mobile-width: 500px;
$big-mobile-width: 600px;
$tablet-width: 800px;
