@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-big-mobile {
  @media (max-width: $big-mobile-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}
