body .helper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 20px;
  margin: 0 auto;
  &__button {
    min-width: 20px;
    margin: 0 20px;
    padding: 10px;
    &_disabled {
      background-color: $color-button-disabled;
    }
  }
}
