/* Abstracts */
@import './scss/abstracts/constants';
@import './scss/abstracts/mixins';
@import './scss/abstracts/placeholders';

/* Base */
@import './scss/base/normalize';
@import './scss/base/typography';
@import './scss/base/helpers';
@import './scss/base/fonts';
@import './scss/base/base';

/* Components */
@import './scss/components/logo';
@import './scss/components/select-list';
@import './scss/components/paginaition';
@import './scss/components/buttons';
@import './scss/components/line';
@import './scss/components/inputs';
@import './scss/components/checkbox';
@import './scss/components/linear-progress';
@import './scss/components/learn-card-preview';
@import './scss/components/vocabulary-word-card';
@import './scss/components/game-card';
@import './scss/components/stepper';
@import './scss/components/menu-list';
@import './scss/components/notification';
@import './scss/components/preloader';
@import './scss/components/liquid-button';
@import './scss/components/menu-hamburger';
@import './scss/components/hover-menu-list';
@import './scss/components/savannah';
@import './scss/components/question-icon';
@import './scss/components/autoplay-icon';
@import './scss/components/popover';
@import './scss/components/spot';
@import './scss/components/dotted-line';
@import './scss/components/switch';

/* Layouts */
@import './scss/layouts/header';
@import './scss/layouts/learn-words';
@import './scss/layouts/settings-page';
@import './scss/layouts/statistics-page';
@import './scss/layouts/words-settings';
@import './scss/layouts/vocabulary-page';
@import './scss/layouts/learn-card-preview-container';
@import './scss/layouts/preview-settings';
@import './scss/layouts/promo-page';
@import './scss/layouts/sign-in-page';
@import './scss/layouts/sign-up-page';
@import './scss/layouts/vocabulary-page';

/* Pages */
@import './scss/pages/sprint';
@import './scss/pages/play-games';
@import './scss/pages/about-us';
