html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: coral;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}

.title {
  color: #fff;
  font-size: 6rem;
  text-align: center;
}

.text {
  font-size: 3rem;
}

.navigation {
  display: flex;
  justify-content: space-around;
  & li {
    margin-left: 20px;
    font-size: 2rem;
    list-style-type: none;
  }
}
