.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: $header-height;
  padding: 20px 50px;
  background-color: rgba($color: $color-light, $alpha: 0.8);
  @include flex(row, space-between, center);
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  @include flex(row, center, center);
}

.navigation__item {
  padding: 0px 20px;

  &:first-child {
    padding-left: 0px;
  }

  &:last-child {
    padding-right: 0px;
  }
}

.navigation__item.exit-icon {
  padding-top: 11px;
}

.navigation__item a {
  color: $color-dark;
  text-transform: none;
  cursor: default;

  @extend %menu-item;
  @include transition(color);

  &:not(.navigation__item_active):hover {
    color: $color-primary-dark;
    cursor: pointer;
  }

  &.navigation__item_active {
    font-weight: $font-weight-black;
  }
}
