.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: $header-height;
  padding: 20px 30px;
  background-color: rgba($color: $color-light, $alpha: 0.8);
  backdrop-filter: blur(10px) hue-rotate(-60deg) saturate(250%);
  @include flex(row, space-between, center);
  @include media-big-mobile {
    padding: 20px 5px;
  }
}

@mixin navigation-colors($bgColor, $textColor: $color-dark) {
  color: $textColor;
  background-color: $bgColor;
}

.navigation-container {
  @include media-header-breakpoint {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100vh;
    box-shadow: 0px 4px 40px rgba($color-dark, 0.1),
      0px 2px 7px rgba($color-dark, 0.15);
    transition: right calc(2 * #{$hamburger-transition});

    .MuiButton-root:hover {
      background-color: transparent;
    }

    /* COLORS */
    & {
      @include navigation-colors($color-primary);
    }
    &_savannah {
      @include navigation-colors(complement($color-savannah-secondary));
    }
    &_sprint {
      @include navigation-colors($color-sprint-primary);
    }
    &_speakit {
      @include navigation-colors($color-light, #c128f6);
    }
    &_unmess {
      @include navigation-colors($color-light, #0c5c75);
    }
    &_english-puzzle {
      @include navigation-colors(#b38fff);
    }
    &_audiocall {
      @include navigation-colors($color-light, $color-audiocall-secondary);
    }
  }

  @include media-laptop {
    right: -320px;
    width: 320px;
  }

  @include media-mobile {
    right: -100vw;
    width: 100vw;
  }
}

.menu-hamburger {
  &.active + .navigation-container {
    right: 0;
  }
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  @include flex(row, center, center);
  @include media-header-breakpoint {
    width: 100%;
    height: 100%;
    @include flex(column, space-evenly, center);
  }
}

.navigation__item {
  padding: 0px 15px;
  @include media-header-breakpoint {
    padding: 0;
  }
  &:first-child {
    padding-left: 0px;
  }

  &:last-child {
    padding-right: 0px;
  }
}

.navigation__item.navigation-icon {
  padding-top: 0;
  .MuiIconButton-root {
    padding: 0;
  }
  & * {
    color: inherit;
  }
}

.navigation__item a {
  color: inherit;
  text-transform: none;
  cursor: default;

  @extend %menu-item;
  @include transition(color);

  &:not(.navigation__item_active):hover {
    color: $color-primary-dark;
    cursor: pointer;
  }

  &.navigation__item_active {
    font-weight: $font-weight-black;
  }
}
