.play-games {
  padding-top: 60px;
  background-color: $color-primary;
  @include flex(column, center, center);
}

.play-games__title {
  padding-bottom: 60px;
  font-size: 9rem;
}

.games-cards-container {
  flex-wrap: wrap;
  width: 100%;
  @include flex(row, center, center);
}
