.preview-settings {
  flex-wrap: wrap;
  max-width: 1200px;
  margin-bottom: 25px;
  @include flex(row, flex-start, center);
}

.preview-settings__setting {
  min-width: 300px;
  margin-bottom: 15px;

  cursor: pointer;

  @include flex(row, flex-start, center);
  @include font(
    $size: 2.4rem,
    $weight: $font-weight-light,
    $family: $font-primary,
  );
}

.preview-settings input[type='checkbox'] {
  margin-right: 5px;
}
