.promo-page {
  position: relative;
  overflow: hidden;
  * {
    z-index: 1;
  }
  section {
    z-index: 0;
  }
}

/* FIRST SECTION */
.promo-presentation {
  padding-top: calc(#{$header-height} + 110px);
  padding-bottom: 80px;
  background-color: $color-secondary;
  @include flex(column, flex-start, center);
}

.promo-presentation__title {
  margin-bottom: 35px;
  @include font(9rem, 900, normal, $font-secondary);
}

.promo-presentation__subtitle {
  max-width: 1040px;
  margin-bottom: 39px;
  text-align: center;
  text-transform: uppercase;
  @include font(3.4rem, 300, normal, $line-height: 170%, $spacing: 2.72px);
}

.promo-presentation-media {
  position: relative;
  width: 100%;
  height: 672px;
  margin-bottom: 35px;
  overflow: hidden;
}

.promo-presentation-media__graduate-image {
  position: absolute;
  top: 0;
  left: -14%;
  width: auto;
  height: 73%;
  object-position: -29% 0;
  opacity: 0.3;
}

.promo-presentation-media__video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 70%;
  height: 87%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.promo-presentation-media__bus-image {
  position: absolute;
  right: -10%;
  bottom: 0;
  width: auto;
  height: 74%;
  opacity: 0.3;
}

/* SECOND SECTION */
.promo-features {
  padding: 100px 140px 330px 140px;
  background-color: $color-light;
}

.promo-features-container {
  width: 100%;
  @include flex(column, flex-start, center);
}

.promo-feature {
  margin-bottom: 60px;
  @include flex(row, flex-start, flex-start);
  &:last-child {
    margin-bottom: 0;
  }
  &_comfort {
    align-self: flex-start;
  }
  &_free {
    align-self: center;
  }
  &_funny {
    align-self: flex-end;
  }
}

.promo-feature__icons {
  height: auto;
  margin-right: 60px;
  &_comfort {
    width: 208px;
  }
  &_free {
    width: 178px;
  }
  &_funny {
    width: 201px;
  }
}

.promo-feature-description {
  max-width: 700px;
}

.promo-feature-description__title {
  margin-bottom: 26px;
  @include font(6rem, 900, italic, $font-secondary);
}

.promo-feature-description__subtitle {
  text-transform: uppercase;
  @include font(3rem, 300, normal, $line-height: 180%, $spacing: 2.72px);
}

/* THIRD SECRION */
.promo-games {
  position: relative;
  padding: 230px 140px 100px 140px;
  background-color: $color-secondary;
  .dotted-line {
    top: -27%;
    left: -32%;
    width: 247.5vw;
  }
}

.promo-savannah-presentation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1010px;
  height: auto;
  background: $color-primary;
  transform: translateY(-63.4%);
  @include flex(column, flex-start, center);
}

.promo-savannah-presentation {
  width: 100%;
  height: 315px;
  @include flex(row, space-evenly, flex-start);
}

.promo-savannah-description__icon {
  width: 32.67%;
  height: auto;
  transform: translateY(-26.48%);
}

.promo-savannah-description {
  max-width: 47.52%;
  margin-top: 50px;
}

.promo-savannah-description__title {
  @include font(6rem, normal, normal, $font-secondary);
}

.promo-savannah-description__subtitle {
  color: #2d1f38;
  @include font(3rem, 300, normal, $line-height: 160%);
}

.promo-savannah-presentation-wrapper__play-now-button {
  width: 100%;
  &.liquid-button-container {
    background: radial-gradient(68.36% 325.38% at 39.62% 31.64%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #2D1F38;
  }
}

.promo-page__subtitle {
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  @include font(3.4rem, 100, normal, $spacing: 0.06rem);
}

/* FOURTH SECTION */
.promo-repeating {
  padding: 100px 90px 35px 90px;
  color: $color-light;
  background: url('../../assets/images/promo/promo-repeating-bg-image.png'),
    $color-primary;
  background-position: center;
  background-size: cover;
  @include flex(column, flex-start, center);
}

.promo-repeating__subtitle {
  max-width: 1040px;
  margin-bottom: 40px;
  color: $color-light;
  text-align: center;
  text-transform: uppercase;
  @include font(2.8rem, normal, normal, $spacing: 0.08rem, $line-height: 170%);
}

.promo-repeating__title {
  max-width: 950px;
  margin-bottom: 30px;
  color: $color-light;
  text-align: center;
  @include font(6rem, 900, italic, $font-secondary, $line-height: 110%);
}

.promo-repeating__description {
  max-width: 1160px;
  margin-bottom: 80px;
  color: $color-light;
  text-align: center;
  @include font(3.2rem, 600, $line-height: 160%);
}

.promo-repeating-factors-container {
  width: 100%;
  margin-bottom: 50px;
  @include flex(column, flex-start, flex-start);
}

.factor-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(0deg, $color-light 50%, transparent 50%);
  background-repeat: repeat-y;
  background-position: left 42px top;
  background-size: 4px 10px;
  @include flex(row, space-between, flex-start);
  &:last-child {
    background: none;
    .algorithm:last-child {
      margin-bottom: 0;
    }
    .factor-container__dots {
      display: none;
    }
  }
}

.factor-container__dots {
  position: absolute;
  top: 90px;
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, $color-light 50%, transparent 50%);
  background-repeat: repeat-y;
  background-position: left 42px top;
  background-size: 4px 10px;
  &_rate {
    height: 87%;
  }
  &_misprint {
    height: 79%;
  }
}

.factor-title-wrapper {
  width: 552px;
  @include flex(row, space-between, flex-start);
}

.factor-title-wrapper__order {
  width: 85px;
  height: 85px;
  padding-top: 5px;
  text-align: center;
  background-color: $color-primary;
  border-radius: 50%;
  @include font(9.2rem, 400, normal, $font-secondary, $line-height: 60%);
}

.factor-title-wrapper__title {
  max-width: 82.78%;
  @include font(4.2rem, 500, italic, $font-secondary, $line-height: 130%);
}

.algorithms-container {
  @include flex(column, flex-start, flex-start);
}

.algorithm {
  max-width: 642px;
  margin-bottom: 50px;
  @include flex(row, space-between, center);
  &:last-child {
    margin-bottom: 150px;
  }
}

.algorithm-main-info {
  @include flex(column, flex-start, flex-start);
}

.algorithm__action {
  max-width: 46.72%;
  text-transform: lowercase;
  @include font(2.5rem, 500, normal);
}

.algorithm-main-info__image {
  height: auto;
  &_easy {
    width: 328px;
  }
  &_hard {
    width: 328px;
  }
  &_misprint {
    width: 298px;
  }
  &_mistake {
    width: 278px;
  }
}

.algorithm-main-info__subtitle {
  text-transform: lowercase;
  @include font(3.4rem, 500, italic, $font-secondary);
}

.algorithm-main-info__title {
  text-transform: lowercase;
  @include font(3.4rem, 900, italic, $font-secondary);
}

.liquid-button-container.promo-repeating__start-button {
  margin-bottom: 35px;
  .liquid:after {
    background-color: darken($color-primary, 5%);
  }
}

.github-link {
  display: block;
  text-transform: uppercase;
  @include font(3.4rem, 300);
  @include flex(row, center, center);
}

.github-link__icon {
  margin-right: 10px;
}
