.sign-up-page {
  min-height: 100vh;
  background-color: $color-primary;
  @include flex(column, center, center);
  @extend %padding;
}

.sign-up-form {
  margin-bottom: 30px;
  @include flex(column, center, center);
}

.sign-up-form__email {
  margin-bottom: 30px;
}

.sign-up-form__password {
  margin-bottom: 30px;
}

.sign-up-form__repeat-password {
  margin-bottom: 60px;
}

.sign-up-form__button {
  width: 100%;
  height: 100px;
  @include font(4rem, 500, normal);
}

.sign-up-page-additional-info {
  @include font(3rem, 500, normal);
}

.sign-up-page-additional-info__sign-in-link {
  text-decoration: underline;
}
