.dash-border-animated {
  background-image: linear-gradient(90deg, white 50%, transparent 50%),
    linear-gradient(90deg, white 50%, transparent 50%),
    linear-gradient(0deg, white 50%, transparent 50%),
    linear-gradient(0deg, white 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: left top, right bottom, left bottom, right top;
  animation: dash-border-animation 0.5s infinite linear;
  @keyframes dash-border-animation {
    0% {
      background-position: left top, right bottom, left bottom, right top;
    }
    100% {
      background-position: left 15px top, right 15px bottom, left bottom 15px,
        right top 15px;
    }
  }
  &.dragover {
    background-image: linear-gradient(90deg, #b7e3ff 50%, transparent 50%),
      linear-gradient(90deg, #b7e3ff 50%, transparent 50%),
      linear-gradient(0deg, #b7e3ff 50%, transparent 50%),
      linear-gradient(0deg, #b7e3ff 50%, transparent 50%);
  }
}
