/* Colors */
$color-primary: #cab1ff;
$color-primary-dark: #843fdd;
$color-secondary: #e0fff8;
$color-dark: #000;
$color-light: #fff;
$color-success: #00e5a1;
$color-error: #ff7d95;
$color-warning: #fff066;

/* Buttons */
$btn-shadow: 0px 4px 6px rgba(130, 89, 217, 0.5),
  0px 2px 1px rgba(130, 89, 217, 0.5), 0px 1px 0px rgba(0, 0, 0, 0.8);
$btn-transition: all 0.5s ease;

/* Games */
$color-sprint-primary: #fcff79;
$color-sprint-secondary: #ff8d8d;
$color-savannah-primary: #75eefe;
$color-savannah-secondary: #c7ff81;

/* Audiocall game */
$color-audiocall-primary: #ce03ed;
$color-audiocall-secondary: #718df2;
$color-audiocall-hover: #00000033;
$color-audiocall-text-dark: #1a1919;
$color-audiocall-text-light: #ffffff;
$color-right-answer: #a1f045b3;
$color-wrong-answer: #f0576cb3;

/* Unmess game */
$color-active-light: #4082a2;
$color-active-dark: #2d637c;

$color-correct: #94c924;
$color-mistake: #fe766d;

$mobile-width: 500px;
$big-mobile-width: 600px;
$tablet-width: 800px;
$laptop-width: 1200px;
$header-breakpoint: 1250px;

/* English-puzzle game */
$color-englishPuzzle-primary: #6663f5;
$color-englishPuzzle-secondary: #ffb99b;
$color-active-puzzle: complement($color-englishPuzzle-secondary);
$color-puzzle: #087b83;
$color-button-disabled: #aaa9a9;
$color-button-text: #4082a2;

/* Fonts: families */
$font-primary: 'Inter', 'Arial', 'Tahoma', sans-serif;
$font-secondary: 'Alegreya', 'Georgia', 'Times', 'Times New Roman', serif;

/* Fonts: weights */
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-black: 900;

/* Blocks' sizes */
$header-height: 100px;

/* Animation */
$animation-time: 0.3s;
$hamburger-transition: 0.3s; // It will be twice as large
