$color-primary: #e5e5e5;
$color-secondary: #ffffff;

$color-text-dark: #000;
$color-text-light: #ffffff;

$color-englishPuzzle-primary: #6663f5;
$color-englishPuzzle-secondary: #dace81;

$header-height: 110px;
