%hide {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
}

%menu-item {
  @include font($size: 2rem, $spacing: 0.04rem);
}

%padding {
  padding: 0 0 90px;
  padding-top: $header-height + 60px;
}

%hoverGlossButton {
  &:before {
    position: absolute;
    top: -127%;
    left: -21%;
    display: block;
    width: 10%;
    height: 400%;
    background-color: white;
    transform: rotate(20deg);
    content: '';
  }
  &:hover {
    &:before {
      left: 105%;
      transition: left 0.7s, top 0.7s;
    }
  }
}

%promo-button {
  padding: 30px 110px;

  &.btn-primary {
    background-color: $color-primary-dark;
  }
  .MuiButton-label {
    text-transform: uppercase;

    text-shadow: 0px 4px 6px rgba($color-primary-dark, $alpha: 0.5),
      0px 2px 1px rgba($color-primary-dark, $alpha: 0.5),
      0px 1px 0px rgba($color-dark, $alpha: 0.8);

    @include font(
      $size: 3.4rem,
      $weight: $font-weight-black,
      $line-height: 100%,
      $spacing: 0.08rem
    );
  }

  // liquid
  .MuiTouchRipple-root {

  }
}
