.unmess-game-container {
  .start-page {
    width: 100%;
    min-height: calc(100vh - 110px);
    padding: 30px 0px;
    backdrop-filter: opacity(0.8);
    @include flex(column, center, center);
  }

  .start-page__title {
    margin-bottom: 15px;
  }

  .start-page__description {
    margin-bottom: 10px;
    padding: 0px 20px;
    color: $color-text-light;
    font-size: 4rem;
    font-family: 'RuHandwrite', cursive;
    text-align: center;
    opacity: 0.8;
  }

  .start-page__start-button {
    padding: 20px 100px;
    color: $color-active-light;
    font-size: 2.4rem;
    font-family: 'Inter', sans-serif;
    background-color: $color-text-light;
    border: 1px solid $color-text-light;
    outline: none;
    cursor: pointer;
    transition: all 0.7s ease;
    @include media-mobile {
      padding: 20px 70px;
    }
  }

  .unmess-level-stepper {
    margin: 50px 0px;

    .MuiTypography-root {
      margin-bottom: 0px;
      color: $color-text-light;
      font-size: 2.2rem;
      font-family: 'Inter', sans-serif;
      text-align: center;
    }

    .MuiSlider-rail {
      background-color: white;
      opacity: 1;
    }

    .MuiSlider-valueLabel {
      color: black;
    }

    .MuiSlider-mark {
      color: black;
    }

    .MuiSlider-markLabel {
      color: white;
      font-size: 1.5rem;
    }

    .PrivateValueLabel-circle-4 {
      font-size: 1rem;
    }
  }
}

.unmess-level-stepper .MuiSlider-thumb {
  &:hover {
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.16);
  }
}
