@import '../../../../scss/abstracts/constants';
@import '../../../../scss/base/fonts';
@import '../../../../scss/base/typography';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 20px;
  margin: 0 auto;
  & .button {
    min-width: 20px;
    margin: 10px 20px;
    padding: 10px;
  }
}

div .disabled {
  background-color: $color-button-disabled;
}
