.StartPage {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
.titleName {
  margin: 100px 0 30%;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.startExplanation {
  right: 10px;
  display: block;
  padding-bottom: 100px;
  color: #505050;
  font-size: 1.5rem;
}
