.StartPage {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
.titleName {
  text-align: center;
  margin: 100px 0 30%;
}
.form {
  display: flex;
  flex-direction: column;
}
.startExplanation {
  display: block;
  font-size: 1.5rem;
  color: #505050;
  right: 10px;
  padding-bottom: 100px;
}
